*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Fraunces', serif;
}
p{
    font-family: 'Barlow', sans-serif;
}


/*1. Header, Navigation Bar*/
nav {
    background: transparent ;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: all ease 0.5s;
    
}
nav.background {
    background-color: #38bff5;
    transition: all ease 0.3s;
}
label.logo {
    color: #fff;
    font-size: 2.2rem;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 700;
    font-family: 'Fraunces', serif;
}
nav ul {
    float: right;
    margin-right: 20px;
    z-index: 1000;
}
nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
    padding: 7px 13px;
    font-family: 'Barlow', sans-serif;
    
}
nav ul.active {
    top: 10%;

}
nav ul li a:hover {
    border: 2px solid #fff;
    color:#fff;
}
nav ul li a:hover {
    transition: 0.5s all ease;
}
nav ul li:nth-child(5) a {
    color: #000;
    background: #fff;
    text-transform: uppercase;
}

.checkbtn {
    float: right;
    font-size: 30px;
    color: #fff;
    margin-right: 40px;
    cursor: pointer;
    display: none;
 }
.checkbtn i {
    line-height: 80px;
}
#check {
    display: none;
}
/*2. Main Section*/
.main_container {
    position: relative;
    min-height: 100vh;
    min-width: 100%;
    background-image: url("../images/desktop/image-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

}
.main_container h1 {
    position: absolute;
    top: 170px;
    text-transform: uppercase;
    margin: auto;
    font-size: 3.5rem;
    color: #fff;

}
.main_container .arrow_down {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    filter: invert(1);

}
.main_container .arrow_down img {
    height: 110px;
}


/**Transform Section Flex Version */
.transform_container_flex {
    display: flex;

}
.transform_container_flex .desktop_image {
    width: 100%;
    height: 100%;
}
.transform_container_flex .mobile_image {
    display: none;
}
.transform_container_flex .col {
    flex: 1;
}
.transform_container_flex .content_wrapper_flex {
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.transform_container_flex .content_wrapper {
    position: absolute;
    max-width: 500px;
    left: 100px;
    width: calc(100% - 200px);
    top: 150px;
}
.transform_container_flex .content_wrapper h3 {
    font-size: 3rem;
    margin-bottom: 50px;
}
.transform_container_flex .content_wrapper p {
    font-size: 1.5rem;
    margin-bottom: 50px;
}
.transform_container_flex .content_wrapper a {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Fraunces', serif;
    color: #000;
    border-bottom: solid rgb(241, 208, 21) 0.5rem;

}


/*5. Stand Out Flex Version*/
.standout_container_flex {
    display: flex;

}
.standout_container_flex img {
    width: 100%;
    height: 100%;
}
.standout_container_flex .content_wrapper_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
}
.standout_container_flex .col {
    flex: 1;
}
.standout_container_flex .content_wrapper {
    position: absolute;
    max-width: 500px;
    left: 100px;
    width: calc(100% - 200px)
}
.standout_container_flex .content_wrapper h3 {
    font-size: 3rem;
    margin-bottom: 50px;
}
.standout_container_flex .content_wrapper p {
    font-size: 1.5rem;
    margin-bottom: 50px;
}
.standout_container_flex .content_wrapper a {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-decoration: none;
    border-bottom: solid rgb(243, 96, 96) 0.5rem;
    font-family: 'Fraunces', serif;
    color: #000;
}



/*5. Graphic Photography Section*/
.graphic_photography_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.graphic_photography_section .desktop_image {
    width: 100%;
    height: 100%;
}
.graphic_photography_section .mobile_image {
    display: none;
}
.image_container{
    position: relative;
}
.graphic_photography_section .content_wrapper {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    bottom: 100px;
    left: 150px;
    width: calc(100% - 300px);
    position: absolute;
}
.graphic_photography_section .content_wrapper h5 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.graphic_photography_section .cherry_image .content_wrapper h5{
    color: rgb(12, 95, 56);
}
.graphic_photography_section .cherry_image .content_wrapper p{
    color: rgb(12, 95, 56);
}
.graphic_photography_section .orange_image .content_wrapper h5{
    color: rgb(6, 83, 146);
}
.graphic_photography_section .orange_image .content_wrapper p{
    color: rgb(6, 83, 146);
}


.graphic_photography_section .content_wrapper p {
    font-size: 1.2rem
}
/*6. Testimonial Section*/
.testimonials_section {
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.testimonials_section h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
}
.testimonials_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.testimonials_wrapper .testimonial {
    width: 350px;
    margin: auto;
}
.testimonial img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 50px;
}
.testimonial p:nth-child(2) {
    margin-bottom: 50px;
}
.testimonial p:nth-child(3) {
    margin-bottom: 10px;
}
/******************************Testimonial Slider Section*********************/
.testimonial_section_owl {
    height: 600px;
    text-align: center;
}
.testimonial_section_owl header h1 {
    margin-top: 50px;
    text-transform: uppercase;
    color: hsl(210, 4%, 67%);
}
.owl-carousel .owl-item img {
    width: 20%;
    height: 20%;
    margin: auto auto 35px auto;
    
}
.owl-carousel {
    margin-top: 90px;
    text-align: center;
}
.owl-carousel .testimonial p {
    width: 350px;
    margin: auto;
}
.owl-carousel .testimonial p:nth-child(2) {
    margin-bottom: 30px;
    
}
.owl-carousel .testimonial p:nth-child(3) {
    margin-bottom: 10px;
    
}
.owl-carousel .testimonial p:nth-child(4) {
    color: hsl(210, 4%, 67%);
}


/******************************Testimonial Slider Section*********************/

/*7. Image Gallery Section*/
.image_gallery_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.image_gallery_section .desktop_image {
    width: 100%;
    height: 100%;
}
.image_gallery_section .mobile_image {
    display: none;
}
/*8. Footer Section*/
footer {
    height: 350px;
    background-color: hsl(168, 41%, 68%);
    text-align: center;
}
footer h1 {
    padding-top: 70px;
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    color: rgb(56, 104, 82);
    
}
footer ul:nth-child(2) li {
    display: inline-block;
    list-style-type: none;
    margin: 30px;
}
footer ul:nth-child(3) li {
    display: inline-block;
    list-style-type: none;
    margin: 7px;
    font-size: 3rem;
}

footer li a {
    text-decoration:  none;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    color: rgb(71, 133, 105);
    
}

/*Media Queries*/


/*Header*/

@media screen and (min-width: 280px) and (max-width: 538px) {
    /*1. Header*/
    label.logo {
        font-size: 1.3rem;
        padding: 0;
    }

    .main_container {
        background-image: url("../images/mobile/image-header.jpg");
    }
    .main_container h1 {
        text-align: center;
        font-size: 2.6rem;
        letter-spacing: 2px;
    }
    .main_container .arrow_down {
        margin-top: 350px;
    }
    .main_container .arrow_down img {
        height: 90px;
    }
    .transform_container_flex {
       flex-direction: column-reverse;
    }
    .transform_container_flex .content_wrapper {
        left: 0px;
        position: relative;
        width: 100%;
        top: 0px;
        text-align: center;
        padding: 10px;
        margin-bottom: 40px;
        
        
    }
    .transform_container_flex .content_wrapper h3 {
        font-size: 2rem;
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .transform_container_flex .content_wrapper p {
        font-size: 1rem;
    }
    .transform_container_flex .content_wrapper a {
        font-size: 1rem;
    }
    .transform_container_flex .desktop_image {
        display: none;
    }
    .transform_container_flex .mobile_image {
        height: 100%;
        width: 100%;
        display: block;
    }
    .standout_container_flex {
       flex-direction: column;
    }
    .standout_container_flex .content_wrapper {
        position: relative;
        width: 100%;
        left: 0px;
        text-align: center;
        padding: 20px;
        margin-bottom: 40px;
    }
    .standout_container_flex .content_wrapper h3 {
        font-size: 2rem;
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .standout_container_flex .content_wrapper p {
        font-size: 1rem;
    }
    .standout_container_flex .content_wrapper a {
        font-size: 1rem;
    }


    .graphic_photography_section {
        grid-template-columns: 1fr;
    }
    .graphic_photography_section .desktop_image {
        display: none;
    }
    .graphic_photography_section .mobile_image {
        display: block;
        width: 100%;
    }
    
    .graphic_photography_section .content_wrapper {
        left: 30px;
        width: calc(100% - 60px);
        bottom: 100px;
    }
    .graphic_photography_section .content_wrapper h5 {
        font-size: 1.3rem;
    }
    .graphic_photography_section .content_wrapper p {
        font-size: 1rem;
    }
    .image_gallery_section {
        grid-template-columns: 1fr 1fr;
    }
    .owl-carousel .testimonial p {
        width: auto;
        margin: auto;
       
    }
    .owl-carousel .testimonial p:nth-child(2) {
        margin-bottom: 30px;
        
    }
    .owl-carousel .testimonial p:nth-child(3) {
        margin-bottom: 10px;
        
    }
    .owl-carousel .testimonial p:nth-child(4) {
        color: hsl(210, 4%, 67%);
    }

    
    
}
@media screen and (max-width: 376px) {
    label.logo {
        padding: 0;
    }
}

@media screen and (min-width: 539px) and (max-width: 540px) {
    .transform_container_flex {
        flex-direction: column-reverse;
     }
    .transform_container_flex .content_wrapper {
        
        position: relative;
        width: 100%;
        top: 0px;
        text-align: center;
        padding: 20px;
        margin-left: 50px;
        margin-bottom: 50px;
        
        
    }
    .transform_container_flex .content_wrapper h3 {
        font-size: 2rem;
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .transform_container_flex .content_wrapper p {
        font-size: 1rem;
    }
    .transform_container_flex .content_wrapper a {
        font-size: 1rem;
    }
    .transform_container_flex .desktop_image {
        display: none;
    }
    .transform_container_flex .mobile_image {
        height: 100%;
        width: 100%;
        display: block;
    }
    .standout_container_flex {
       flex-direction: column;
    }
    .standout_container_flex .content_wrapper {
        position: relative;
        width: 100%;
        left: 0px;
        text-align: center;
        padding: 20px;
        margin-bottom: 40px;
    }
    .standout_container_flex .content_wrapper h3 {
        font-size: 2rem;
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .standout_container_flex .content_wrapper p {
        font-size: 1rem;
    }
    .standout_container_flex .content_wrapper a {
        font-size: 1rem;
    }


    .graphic_photography_section {
        grid-template-columns: 1fr;
    }
    .graphic_photography_section .desktop_image {
        display: block;
    }
    .graphic_photography_section .mobile_image {
        display: none;
    }
    
    .graphic_photography_section .content_wrapper {
        left: 30px;
        width: calc(100% - 60px);
        bottom: 100px;
    }
    .graphic_photography_section .content_wrapper h5 {
        font-size: 1.3rem;
    }
    .graphic_photography_section .content_wrapper p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 857px) {
    /*1. Header*/
    .checkbtn {
        display: block;
    }
    
    nav ul::before {
        content: "";
        padding: 11px;
        position: absolute;
        top: -11px;
        right: 43px;
        transform: rotate(45deg);
        background-color: #fff;
       
    }
   
    nav ul {
        position: fixed;
        width: 100%;
        height: auto;
        background:#fff;
        top: 80px;
        left: -100%;
        text-align: center;
        border-radius: 30px;
        
       
    }
    
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 1.25rem;
        color: #000;
    }
    nav ul li:nth-child(5) a {
        border-radius: 30px;
        background: rgb(255, 220, 21);
        padding: 20px 30px 20px 30px;
        text-transform: uppercase;
        
    }
    a:hover{
        background: none;
        color:#008080;
    }
    #check:checked ~  ul {
        left: 0;
    }

    /**Transform Section**/
    .transform_container_flex .content_wrapper {
        max-width: 400px;
        left: 20px;
        width: calc(100% - 40px);
        top: 30px;
    }
    .transform_container_flex .content_wrapper h3 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .transform_container_flex .content_wrapper p {
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .transform_container_flex .content_wrapper a {
        font-size: 1rem;
    }

    /**StandOut Section**/
    .standout_container_flex .content_wrapper {
        
        width: 500px;
        left: 20px;
        width: calc(100% - 40px)
    }
    .standout_container_flex .content_wrapper h3 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .standout_container_flex .content_wrapper p {
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .standout_container_flex .content_wrapper a {
        font-size: 1rem;
        
    }
    /**Graphic Photography**/
    .graphic_photography_section .content_wrapper {
    
       
        bottom: 0px;
        left: 30px;
        width: calc(100% - 60px);
        position: absolute;
    }
    .graphic_photography_section .content_wrapper h5 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .graphic_photography_section .content_wrapper p {
        font-size: 1rem;
        margin-bottom: 20px;
    }



}
@media screen and (max-width: 952px) {
    label.logo {
    font-size: 1.8rem;
    padding-left: 20px;
    }
    nav ul li a {
        font-size: 1.3rem;
    }
    
}
@media screen and (min-width: 1023px) and (max-width: 1200px) {
    /**Transform Section**/
    .transform_container_flex .content_wrapper {
        max-width: 300px;
        left: 70px;
        width: calc(100% - 40px);
        top: 60px;
    }
    .transform_container_flex .content_wrapper h3 {
        font-size: 2.3rem;
        margin-bottom: 10px;
    }
    .transform_container_flex .content_wrapper p {
        font-size: 1rem;
        margin-bottom: 40px;
    }
    .transform_container_flex .content_wrapper a {
        font-size: 1rem;
    }

    /**StandOut Section**/
    .standout_container_flex .content_wrapper {
        
        width: 500px;
        left: 60px;
        width: calc(100% - 100px)
    }
    .standout_container_flex .content_wrapper h3 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .standout_container_flex .content_wrapper p {
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .standout_container_flex .content_wrapper a {
        font-size: 1rem;
        
    }
    /**Graphic Photography**/
    .graphic_photography_section .content_wrapper {
    
       
        bottom: 20px;
        left: 50px;
        width: calc(100% - 100px);
        position: absolute;
    }
    .graphic_photography_section .content_wrapper h5 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .graphic_photography_section .content_wrapper p {
        font-size: 1rem;
        margin-bottom: 20px;
    }
}
/****************************Sign In Styles**************************/


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 100px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}